<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Event View</title>
    <style>
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    th {
        border: 1px solid #FFFFFF;
        padding: 8px;
        text-align: center;
        background-color: #666666;
    }

    td {
        border: 1px solid #DDDDDD;
        padding: 8px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #DDDDDD;
    }
    </style>
    <style type="text/css">
    @import url(/static/menuTab/menuTab.css);
    </style>
</head>

<body bgcolor='F0F8FF'>
    <div id="header" style="background-color:#F0F8FF;text-align:center;" onclick="location.href='/EventCenter/EventView'">
        <h2 style="margin-top:0;margin-bottom:5px;">Entry System</h2>
        <h4 style="margin-top:0;margin-bottom:5px;">Current Event View</h4>
    </div>
    <div id="tabsF">
        <ul>
            <li><a href="/EntryControl/EntryPolicy/"><span>Entry Policy</span></a></li>
            <li><a href="/EntryControl/UserData"><span>User List</span></a></li>    
            <li><a href="/EntryControl/Group/"><span>Group Define</span></a></li>
            <li><a href="/EntryControl/Domain/"><span>Domain Define</span></a></li>
            <li  id="current"><a href="/EventCenter/EventView/"><span>Event View</span></a></li>
            <li><a href="/EventCenter/EventSearch/"><span>Event Search</span></a></li>
            <li><a href="/ReaderView/"><span>Reader View</span></a></li>
        </ul>
    </div>
    <div style="background-color:#FFFFFF;overflow-x:hidden;line-height:20px;border:5px gray solid;margin: 0px auto;width: 99.5%;">
        <table>
            <tr>
                <th>Event ID</th>
                <th>Event Time</th>
                <th>Event Level</th>
                <th>Event Type</th>
                <th>Description</th>
                <th>Reader FQDN</th>
                <th>Reader ID</th>
                <th>Reader IP</th>
            </tr>
            {% for event in events %} {%if event.event_level == 1 %}
            <tr style="background-color: #990000;">
                {%elif event.event_level == 2 %}
                <tr style="background-color: #FF0000;">
                    {%elif event.event_level == 3 %}
                    <tr style="background-color: #FF4000;">
                        {%elif event.event_level == 4 %}
                        <tr style="background-color: #FF8000;">
                            {%elif event.event_level == 5 %}
                            <tr style="background-color: #FFCC00;">
                                {%else%}
                                <tr>
                                    {%endif%}
                                    <td>{{event.id}}</td>
                                    <td>{{ event.insert_time }}</td>
                                    <td>{{ event.event_name }} ({{event.event_level}})</td>
                                    <td>{{event.event_type}}</td>
                                    <td>{{event.description}}</td>
                                    <td onclick="location.href='/ReaderView/{{event.reader_fqdn}}/'">{{event.reader_fqdn}}</td>
                                    <td>{{event.reader_id}}</td>
                                    <td>{{event.reader_ip}}</td>
                                </tr>
                                {% endfor %}
        </table>
    </div>
    <center>
        <div id="footer" style="background-color:#F0F8FF;clear:both;text-align:center;">
        </div>
    </center>
    <h style="margin-left:10px;margin-top:0;margin-bottom:0;">Event Roles: </h>
    <br>
    <h style="margin-left:15px;margin-top:0;margin-bottom:5px;">Authentication fail threshold: 10 times/10s</h>
    <br>
    <h style="margin-left:15px;margin-top:0;margin-bottom:5px;">Authorization fail threshold: 10 times/10s</h>
    <br>
    <h style="margin-left:15px;margin-top:0;margin-bottom:5px;">Manager check fail threshold: 3 times</h>
</body>
<meta http-equiv="refresh" content="60;url= " />
<!--  網頁60sec更新  -->

</html>